// form{
//   .green{
//     color:green;
//   }
//   .red{
//     color:red;
//   }
// }

.quizquiz{
    .green{
        color:green;
      }
      .red{
        color:red;
      }
}


.quizContainer{
    width:70%;
    margin: 50px auto
}
.quizWrapper{
    padding:40px 30px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#d2cfcf;
    border:4px solid #12322e;   


    .progressQuestionCount{
        font-size:2rem;
        font-weight:bold;
        color:#12332f;
        padding:20px
    }

    .question{
        color:#12332f;
        padding:10px;
        font-size:1.5rem;
        font-weight:bold;
        letter-spacing: 1.3px;
    }

    label{
        // background-color:#e6e0c8;
        // padding:10px 20px;
         margin-left:5px;
        // width:100px;
        // border-radius:5px;
        // color:#12332f;
        font-size:1.5rem;
        font-weight:bold;
        cursor:pointer;
    }
   
    .answers{
        border:solid 2px black;
        margin-bottom:10px;
        padding:10px 20px;
        border-radius:5px;
    }

    button{
        background-color:#8A0A0A;
        color:#e6e0c8;
        padding:15px 30px;
        border-radius:10px;
        cursor: pointer;
    }
}